<div id="banner" class="container-fluid d-flex flex-column justify-content-evenly align-items-center" style="background-image: url({{banner}});">
    <div>
        <h1>{{ title }}</h1>
        <h3>{{ slogan }}</h3>
    </div>
</div>

<main class="container-fluid col-10">
    <h2 class="">Aim</h2>
    <div class="home-content container-fluid d-flex justify-content-between p-0">
        <p class="bg-gradient">
            The primary objective of this website is to provide visitors with comprehensive information about tourism in Argentina. Whether you're planning a trip or simply curious about the diverse attractions this country has to offer, our platform is designed to be a valuable resource for your exploration of Argentina's rich cultural, natural, and historical wonders.
        </p>
        <ul>
            <li><b>Cities tab:</b> will inform you more about Argentinian cities.</li>
            <li><b>Weather tab:</b> will display the weather at certain Argentinian areas.</li>
            <li><b>Tech ideas tab:</b> will display a form which the user might fill if they have a technical idea to improve tourism in Argentina.</li>
        </ul>
        <p class="bg-gradient">
            From vibrant cities to breathtaking landscapes, we strive to offer detailed insights into the unique experiences awaiting you. Discover travel tips, explore popular destinations, and immerse yourself in the beauty and warmth of Argentina. Our goal is to make your journey seamless, ensuring you make the most of your time in this captivating South American destination.
        </p>
    </div>
</main>