<main class="container-fluid col-10">
    <h2>Tech Ideas</h2>
    <div class="tech-ideas-container d-flex justify-content-between">
        <form [formGroup]="techIdeasForm" class="col-md-5">
            <div appImportantText>Feel free to share your ideas to improve tourism in Argentina!</div>
            <div class="input-container mb-3">
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="input-container mb-3">
                <label class="form-label">Age:</label>
                <input type="number" class="form-control" formControlName="age" />
            </div>
            <div class="input-container mb-3">
                <label class="form-label">Email:</label>
                <input type="email" class="form-control" formControlName="email" />
            </div>
            <div class="input-container mb-3">
                <label class="form-label">City:</label>
                <select class="form-control" formControlName="city">
                    <option value="0" selected>--- SELECT CITY ---</option>
                    <option *ngFor="let city of cities">{{ city }}</option>
                </select>
            </div>
            <div class="input-container mb-3">
                <label class="form-label">Brief of your technical idea:</label>
                <textarea class="form-control" formControlName="idea"></textarea>
            </div>
            <div class="input-container mb-3">
                <button class="btn btn-primary" type="button" (click)="submitForm()">Submit</button>
            </div>
        </form>
        <div class="col-md-5">
            <h2>Data protection policies</h2>
            <ul>
                <li *ngFor="let dpp of dataProtetionPolicies">{{ dpp }}</li>
            </ul>
        </div>
    </div>
</main>