<form [formGroup]="techIdeasForm">
    <div class="input-container">
        <label>Name:</label>
        <input type="text" formControlName="name" />
    </div>
    <div class="input-container">
        <label>Age:</label>
        <input type="number" formControlName="age" />
    </div>
    <div class="input-container">
        <label>Email:</label>
        <input type="email" formControlName="email" />
    </div>
    <div class="input-container">
        <label>City:</label>
        <select formControlName="city">
            <option>--- SELECT CITY ---</option>
        </select>
    </div>
    <div class="input-container">
        <label>Breif of your technical idea:</label>
        <textarea formControlName="idea"></textarea>
    </div>
    <div class="input-container">
        <button type="button" (click)="submitForm()">Submit</button>
    </div>
</form>