textarea{
    resize:none;
    height:10rem;
}
.invalid-feedback{
    display: block;
}
ul{
    list-style: none;
    margin:0;
    padding:0;

    li{
        padding:5px;
        background-color: var(--yellowOp-03);
        transition: .3s;
    }
    li:nth-child(even){
        background-color: #FFFFFF;
    }
    li:hover{
        background-color: var(--lightBlueOp-03);
    }
}